---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
	Welcome to our blog, a vibrant space where ideas, stories, and insights converge. Our platform is designed for curious minds who love to explore diverse topics—from personal experiences and inspiring stories to practical tips and thought-provoking discussions.
	</p>

	
</Layout>
